
<p>Please enter deposit amount</p>
<div class="stuff">
    <form [formGroup]="depositForm">
      <div>
        <label for="amount">
          Amount:
        </label>
        <input id="amount" type="text" formControlName="amount">
      </div>
      <button class="button" (click)="onSubmit()">Deposit</button>
    </form>
    <br/>
    <div class="container2">
      <div *ngFor="let item of response" class="response" style="margin-bottom: 50px;">
        {{ response }}
      </div>
    </div>
</div>