<h1>Checking Account</h1>
<input #customerID type="number">
<button type="button" (click)="getCheckingAcc(customerID.value)">Submit</button>

<div class = container2>
    
    <div *ngFor="let item in checkingAcc" class="checking">
        <div class="book">
        <ul>
        <li>ID: {{item.id}}</li>
        <li>FirstName: {{item.firstname}}</li>
        <li>LastName: {{item.lastname}}</li>
        <li>Balance: {{item.balance}}</li>
        <li>Deposits: {{item.deposits}}</li>
        <li>Withdrawals: {{item.withdrawals}}</li>
   
        </ul>
    </div>
    <!--<p>will display checking account</p>-->
</div>