<h2 mat-dialog-title>Edit Profile</h2>
<mat-dialog-content [formGroup]="form" class="dialog">
        <mat-form-field>
            <mat-label>First Name: </mat-label>
            <input matInput [placeholder]="fName.value" formControlName="fName"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last Name: </mat-label>
            <input matInput [placeholder]="lName.value" formControlName="lName"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email: </mat-label>
            <input type="email" matInput placeholder="test@example.com" [formControl]="email"  [errorStateMatcher]="matcher" />
            <mat-error *ngIf="email.hasError('email')">
                Please enter a valid email address
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Phone Number: </mat-label>
            <input matInput placeholder="(999)999-9999" [formControl]="phoneNumber" [errorStateMatcher]="matcher"/>
            <mat-error *ngIf="phoneNumber.hasError('pattern')">
                Invalid Phone Number
            </mat-error>
            <mat-error *ngIf="phoneNumber.hasError('minlength')">
                Phone Number is too short
            </mat-error>
            <mat-error *ngIf="phoneNumber.hasError('maxlength')">
                Phone Number is too large
            </mat-error>
        </mat-form-field>
        <p *ngIf="error" class="errorMessage">{{errorMessage}}</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button (click)="save()">Confirm</button>
    <button (click)="close()">Close</button>
</mat-dialog-actions>
