<div id="layoutDefault_footer">
    <footer class="footer pt-10 pb-5 mt-auto bg-dark footer-dark">
        <div class="container px-5">
            <div class="row gx-5">
                <div class="col-lg-3">
                    <div class="footer-brand">Misty Mountain Financial</div>
                    <div class="mb-3">Banking made easy</div>
                </div>
                <div class="col-lg-9">
                    <div class="row gx-5">
                        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                            <div class="text-uppercase-expanded text-xs mb-4">Transactions</div>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-2"><a href="#!">Checking</a></li>
                                <li><a href="#!">Savings</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                            <div class="text-uppercase-expanded text-xs mb-4">Investments</div>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-2"><a href="#!">Life Insurance</a></li>
                                <li class="mb-2"><a href="#!">Trust Services</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                            <div class="text-uppercase-expanded text-xs mb-4">Support</div>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-2"><a href="#!">FAQ</a></li>
                                <li class="mb-2"><a href="#!">Submit A Ticket</a></li>
              
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="text-uppercase-expanded text-xs mb-4">Legal</div>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-2"><a href="#!">Privacy Policy</a></li>
                                <li class="mb-2"><a href="#!">Terms and Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-md-6 small">Copyright © Misty Mountain Financial | Design By Onandi The Web Guy</div>
                <div class="col-md-6 text-md-end small">
                    <a href="#!">Privacy Policy</a>
                    ·
                    <a href="#!">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>