<div class="flex-container">
  <div class="flex-child userprofile">
    <div class="main">
      <div class="header"><h1 style="color: white;">User Profile</h1></div>
      <input #customerID type="number">
      <button type="button" (click)="getCustomer(customerID.value)">Submit</button>
      <h1 style="text-align: center; font-size: x-large">{{customer.firstName + " " + customer.lastName}}</h1>
      <div style="text-align: center; font-size: medium;" *ngIf="customer">
        <p>Account Number: {{customer.id}}</p>
        <p>Email: {{customer.email}}</p>
        <p>Phone Number: {{customer.phoneNumber}}</p>
      </div>
      <div style="position: relative; bottom: 0; text-align: center;">
        <button style="margin: 5px; width: 120px; background-color: #F26925; color: white; border-radius: 10px;" (click)="openProfileDialog()">Edit Profile</button>
        <button style="margin: 5px; width: 120px; background-color: #F26925;color: white; border-radius: 10px;" (click)="openPasswordDialog()">Edit Password</button>
      </div>
    </div>
  </div>
  <div class="flex-child">
    <app-account></app-account>
  </div>
</div>
