<h1>User Profile</h1>
<input #customerID type="number">
<button type="button" (click)="getCustomer(customerID.value)">Submit</button>

<div *ngIf="customer">
  <p>{{customer.customer_id}}</p>
  <p>First Name: {{customer.first_name}}</p>
  <p>Last Name: {{customer.last_name}}</p>
  <p>Email: {{customer.email}}</p>
  <p>Phone Number: {{customer.phone}}</p>
</div>

<div>
  <button (click)="openProfileDialog()">Edit Profile</button>
  <!-- <button (click)="openPasswordDialog()">Edit Password</button> -->
</div>