<h1>Account</h1>
<input #customerID type="number">
<button type="button" (click)="getAccounts(customerID.value)">Submit</button>

<div>
  <div class="container">
    <div class="header"><h1>Banking Account</h1></div>
    <div class="sub-container">
      <div *ngFor="let account of accounts">
        <!-- <div class="item" (click)="getAccount(account.accountId)"> -->
          <a class="item" [routerLink]="['../customer']" routerLinkActive="active">
          <p>Checking Account #{{account.accountId}}</p>
          <p>${{account.balance}}</p>
          </a>
        <!-- </div> -->
      </div>
    </div>
    <button class="footer" (click)="addAccount()">+ Add Account</button>
  </div>
</div>
