<h1>Account</h1>
<input #customerID type="number" />
<button type="button" (click)="getAccounts(customerID.value)">Submit</button>

<div class="container">
  <div class="header"><h1 style="color: white;">Banking Account</h1></div>
  <!-- <div class="sub-container"> -->
    <mat-accordion class="sub-container">
      <mat-expansion-panel *ngFor="let account of accounts">
        <mat-expansion-panel-header>
          <mat-panel-title style="text-align: center;">
            <p>Checking Account #{{account.accountId}}</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- <transactions [childNameForId]="account.accountId"></transactions> -->
        <app-user-profile></app-user-profile>
      </mat-expansion-panel>
    </mat-accordion>
  <!-- </div> -->
  <button class="footer" (click)="addAccount(1)">Add Account</button>
</div>
