<h2 mat-dialog-title>Edit Profile</h2>
<mat-dialog-content [formGroup]="form">
    <div class="dialog">
        <mat-form-field>
            <mat-label>Current Password</mat-label>
            <input matInput placeholder="Current Password" formControlName="currentPassword" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Retype Password</mat-label>
            <input matInput placeholder="Retype Password" formControlName="currentPassword2" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>New Password</mat-label>
            <input matInput placeholder="New Password" formControlName="newPassword"/>
        </mat-form-field>
        <p *ngIf="error" class="errorMessage">{{message}}</p>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button (click)="change()">Change Password</button>
    <button (click)="cancel()">Cancel</button>
</mat-dialog-actions>

