<nav class="navbar navbar-marketing navbar-expand-lg bg-white navbar-light">
  <div class="container px-5">
      <a class="navbar-brand text-dark" [routerLink]="['/']" routerLinkActive="active">Misty Mountain Financial</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto me-lg-5">

            <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/budget">Budget Calculator</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/">Accounts</a></li>

              <!--<li class="nav-item dropdown dropdown-xl no-caret">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownDemos" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >  Add routing here 
                      Transactions
                      <svg class="svg-inline--fa fa-chevron-right dropdown-arrow" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"></path></svg> <i class="fas fa-chevron-right dropdown-arrow"></i> Font Awesome fontawesome.com 
                  </a>
                  <div class="dropdown-menu dropdown-menu-end animated--fade-in-up me-lg-n25 me-xl-n15" aria-labelledby="navbarDropdownDemos">
                      <div class="row g-0">
                         
                          <div class="col-lg-7 p-lg-5">
                              <div class="row">
                              </div>
                          </div>
                      </div>
                  </div>
              </li>
              <li class="nav-item dropdown dropdown-xl no-caret">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownPages" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Investments
                      <svg class="svg-inline--fa fa-chevron-right dropdown-arrow" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"></path></svg> <i class="fas fa-chevron-right dropdown-arrow"></i> Font Awesome fontawesome.com 
                  </a>
                  <div class="dropdown-menu dropdown-menu-end me-lg-n20 me-xl-n15 animated--fade-in-up" aria-labelledby="navbarDropdownPages">
                  </div>
              </li>
              <li class="nav-item dropdown no-caret">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownDocs" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Support
                      <svg class="svg-inline--fa fa-chevron-right dropdown-arrow" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"></path></svg> <i class="fas fa-chevron-right dropdown-arrow"></i> Font Awesome fontawesome.com 
                  </a>
                  <div class="dropdown-menu dropdown-menu-end animated--fade-in-up" aria-labelledby="navbarDropdownDocs">
                  </div>
              </li>

              <li class="nav-item dropdown no-caret">
                <a class="nav-link dropdown-toggle" id="navbarDropdownDocs"  role="button"
                   
                    routerLink="./budget" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    
                    Budget Calculator
                    <svg class="svg-inline--fa fa-chevron-right dropdown-arrow" aria-hidden="true" focusable="false"
                        data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512" data-fa-i2svg="">
                        <path fill="currentColor"
                            d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z">
                        </path>
                    </svg> <i class="fas fa-chevron-right dropdown-arrow"></i> Font Awesome fontawesome.com 
                </a>
                <div class="dropdown-menu dropdown-menu-end animated--fade-in-up"
                    aria-labelledby="navbarDropdownDocs">
                </div>
            </li>-->

          </ul>
          <!--<div class="d-flex align-items-center">
            <a class="position-relative">
               <i class="fa fa-bell fa-2x mr-5 text-dark"></i>
               <i class="fa-solid fa-cart-shopping"></i>
               <div class="cart-no">5</div>
            </a>-->
            <a class="btn btn-outline-secondary mr-2" routerLink="/login">Login</a>
            <a class="btn btn-outline-secondary mr-3" routerLink="/register">Sign up</a>
      </div>
  </div>
</nav>

