<!-- testing only, TECH will automatically fire joinTechSupport on init -->
<h1>Testing chatbox functionality</h1>
<button type="button" (click)="joinTechSupport()">Join tech support channel</button>
<!-- above is testing only -->

<div *ngFor="let ticket of tickets">
    <button *ngIf="ticket.open" type="button" (click)="initializeSupportConnection($event)" id="{{ticket.chatRoomId}}" [attr.data-user]="ticket.user">{{ticket.message}}</button>
    <button *ngIf="ticket.open" (click)="closeTicket(ticket, ticket.user)">Close ticket</button>
</div>

<!-- CODE STARTS: chat box insert-->
<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
<div *ngIf = "ticketMinimized && isSupport">
    <div class = "ticket-box-opener">
        <div class="room-name">Tickets</div><i class="material-icons chat-box-top" (click)="ticketMinimizerClick()">keyboard_double_arrow_up</i> 
    </div>
</div>
<div *ngIf = "!ticketMinimized && isSupport">
    <div class="ticket-box" style="display:block;"> <!--display block or none-->
        <div class="chat-box-header">
            <div class="room-name">Tickets</div><i class="material-icons chat-box-top" (click)="ticketMinimizerClick()">close</i> <!--click should change display of chat-->
        </div>

        <div class="chat-box-body" style="height: 391px;">
            <div class="chat-contents" style="height: 391px;" #scroll [scrollTop]="scroll.scrollHeight">
                <div class="ticket-contents" *ngFor="let ticket of tickets">
                    <div class="allUser otherUser">
                        {{ticket.user}}
                        <div class="ticket-closer" style="float: right; cursor: pointer;" (click)="closeTicket(ticket, ticket.user)">
                            <i *ngIf ="ticket.open" class="material-icons" style="font-size: 11px;">close</i>
                            <i *ngIf ="!ticket.open" class="material-icons" style="font-size: 11px;">done</i>
                        </div>
                    </div>
                    <div *ngIf ="ticket.open">
                        <button class="openTicketQuery" style="cursor: pointer;" type="button" (click)="initializeSupportConnection($event)" id="{{ticket.chatRoomId}}" [attr.data-ticketId]="ticket.chatRoomId" [attr.data-user]="ticket.user">
                            {{ticket.message}}
                        </button>
                    </div>
                    <div *ngIf ="!ticket.open">
                        <button class="closedTicketQuery" style="cursor: pointer;" type="button" id="{{ticket.chatRoomId}}" [attr.data-ticketId]="ticket.chatRoomId" [attr.data-user]="ticket.user">
                            {{ticket.message}}
                        </button>
                    </div>
                    <!-- <button *ngIf="ticket.open" (click)="closeTicket(ticket.chatRoomId, ticket.initialMessage.user)">Close ticket</button> -->
                </div>
            </div><!--chat-log -->
        </div>
    </div>
</div>

<div *ngIf = "minimized">
    <div class = "chat-box-opener">
        <div class="room-name">Chat</div><i class="material-icons chat-box-top" (click)="minimizerClick()">keyboard_double_arrow_up</i> 
    </div>
</div>
<div *ngIf = "!minimized">
    <div class="chat-box" style="display:block;"> <!--display block or none-->
        <div class="chat-box-header">
            <div class="room-name">Ticket: QAZrySw21235SD2312412</div><i class="material-icons chat-box-top" (click)="minimizerClick()">close</i> <!--click should change display of chat-->
        </div>

        <div class="chat-box-body">
            <div class="chat-contents" (click) = "onDateClick()" (mouseleave) = "onDateLeave()" #scroll [scrollTop]="scroll.scrollHeight">
                <div class="listStyle" *ngFor = "let msg of messages; let i = index;">
                    <div [ngClass]="msg.user == user ? 'myUser allUser' : 'otherUser allUser'"> <!--ngClass checks if message is from client user or other user, sets style to match-->
                        <div *ngIf = "msg.user != 'Announcement'">
                            <div *ngIf = "i == 0">{{msg.user}}
                            </div>
                            <div *ngIf = "i >= 1">
                                <div *ngIf = "msg.user != messages[i-1].user">
                                    {{msg.user}}
                                </div>
                            </div>
                        </div>
                        <div *ngIf = "msg.user == 'Announcement'">
                            <div class = "announcement allUser">
                                {{msg.message}}
                            </div>
                        </div>
                    </div>
                    <div *ngIf = "msg.user != 'Announcement'">
                        <div [ngClass]="msg.user == user ? 'myMessage allMessage' : 'otherMessage allMessage'"> <!--ngClass checks if message is from client user or other user, sets style to match-->
                                {{msg.message}}
                        </div>
                        <div [ngClass]="msg.user == user ? 'myUser allUser' : 'otherUser allUser'" *ngIf = "dateActive">
                            {{formatDate(msg.date)}}
                        </div>
                    </div>
                    <br>
                </div>
            </div><!--chat-log -->
        </div>

        <div class="chat-input">      
        <form #inputForm="ngForm">
            <input type="text" id="chat-input" [(ngModel)]="sendContents" name="first" (keyup.enter)="submitMessage(inputForm)" autocomplete="off" placeholder="Send a message..."/>
            <button type="button" class="chat-submit material-icons" (click)="submitMessage(inputForm)">send</button>
        </form>
        </div>
    </div>
</div>